body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
   height: 100%;
    background-color: #fff;
}
img{
    max-width: 100%;
}
.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 15px;
    padding-right: 15px; */
}

.none {
    display: none;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/head.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;

}

.header-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
    transform: translate(-50%, 0);
}

/* portfolio */
.portfolio {

    padding-top: 80px;
 flex: 1 1 auto;
    padding-bottom: 115px;
}

.section-header {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;

}

.section-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    max-width: 540px;

    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    color: black;
    
    transition:color 0.2s ease-in;
    transition: 0.2s ease-in;
}
.card:hover{
    transform: translateY(-15px);
}
.card-link{
    padding: 20px;
    display: block;
    color: #000000;
    text-decoration: none;
}
.card-link:hover{
    color: rgb(39,91,236);
    
}
.card:last-child {
    margin-bottom: 0;
}

.card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    width: 500px;
    height: 240px;
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
   

}

.card p {
    font-size: 16px;
    line-height: 130%;
    

}

/* footer */
footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: #1e4776;
    color: white;
}

.footer-row {

    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    max-width: 350px;
    color: #7E9EC9;
    line-height: 1.3;
    flex-grow: 1;
}

.footer-copyright-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #7E9EC9;
    margin-bottom: 15px;

}

.footer-copyright p {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    color: #7E9EC9;
}

.footer-icons {
    max-width: 350px;
    flex-grow: 1;
}

.footer-icons-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
}

.footer-icons-row>*+* {
    margin-left: 30px;
}

.footer-icons p {

    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer-contacts {
    max-width: 350px;
    flex-grow: 1;
}

.footer-contacts a {
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    display: inline-block;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
     transition: all 0.2s ease-in;
}
.footer-contacts a:hover{
   background-color: white;
   color: #275BEC;
}

.footer-contacts p {
    margin: 15px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #7E9EC9;

}

/* project */
.project {
    padding-top: 80px;
    /* padding-bottom: 120px; */
    text-align: center;
    color: #000000;
    flex: 1 1 auto;
}

.project-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 40px;
}

.project-img {
    margin-bottom: 70px;
   
}

.project-img img{
    max-width: 892px;
    max-height: 725px;
}

.project-description {
    max-width: 730px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.project-description p {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;

}

.webSource {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;

}

.webSource a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #275becc4;
    text-decoration: solid;
}

.project-btn-back {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 50px;
    box-sizing: border-box;
    border: 3px solid #275BEC;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #275BEC;
    margin-bottom: 140px;
}
.project-btn-back:hover{
    border: 3px solid #275becb4;
}
